@(formEditTrip: Form[models.Trip])(title: String, trip: Trip)(implicit session: play.api.mvc.Session)
@import helper.twitterBootstrap._

@admin.admin("Adminarea")  {

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                Trip: @trip.title
                <button class="btn pull-right" data-toggle="modal" data-target="#editTrip">Edit</button>
                <form class="pull-right" action="@routes.AdminController.deleteTrip(trip.shortName)" method="POST">
                    <button class="btn" type="submit">Delete</button>
                </form>
            </h3>
        </div>
        <div class="panel-body">
            <dl>
                <dt>Titel</dt>
                <dd>@trip.title</dd>
                <dt>Description</dt>
                <dd>@trip.description</dd>
                <dt>Short Name</dt>
                <dd>@trip.shortName</dd>
                <dt>Start Date</dt>
                <dd>@trip.startDate</dd>
                <dt>End Date</dt>
                <dd>@trip.endDate</dd>
            </dl>
        </div>
    </div>


    <div class="modal fade" id="editTrip" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Tour</h4>
                </div>
                <div class="modal-body">
                @helper.form(action = routes.AdminController.updateTrip) {
                    @helper.inputText(formEditTrip("title"))
                    @helper.inputText(formEditTrip("description"))
                    @helper.inputText(formEditTrip("shortName"))
                    @helper.inputDate(formEditTrip("startDate"))
                    @helper.inputDate(formEditTrip("endDate"))
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-default" type="submit">Submit</button>
                </div>
                }
            </div>
        </div>
    </div>

}