@(formTrack: Form[at.droelf.gui.entities.AdminTrack], formTrackMetadata: Form[at.droelf.gui.entities.AdminTrackMetaData], formTrackPoint: Form[at.droelf.gui.entities.AdminTrackPoint])(track: models.Track, metadata: models.TrackMetaData, numberOfTrackPoints: Int, date: Seq[org.joda.time.LocalDate])(implicit session: play.api.mvc.Session)
@import helper.twitterBootstrap._

@trackHtml = {
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">Track: @track.name</span>
            <button class="btn pull-right" data-toggle="modal" data-target="#editTrack">Edit</button>
            <form class="pull-right" action="@routes.AdminController.deleteTrack(track.trackId.toString)" method="POST">
                <button class="btn" type="submit">Delete</button>
            </form>
        </div>
        <div class="panel-body">
            <dl>
                <dt>Name</dt>
                <dd>@track.name</dd>
                <dt>TrackId</dt>
                <dd>@track.trackId</dd>
                <dt>Activity</dt>
                <dd>@track.activity</dd>
                <dt>No. of Track Points</dt>
                <dd>@numberOfTrackPoints</dd>
                <dt>Dates</dt>
                <dd>@date.toString</dd>
            </dl>

        </div>
    </div>

    <div class="modal fade" id="editTrack" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Tour</h4>
                </div>
                <div class="modal-body">
                @helper.form(action = routes.AdminController.updateTrack(track.trackId.toString)) {
                    @helper.inputText(formTrack("name"))
                    @helper.inputText(formTrack("activity"))
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-default" type="submit">Submit</button>
                </div>
                }
            </div>
        </div>
    </div>



}

@trackMetadataHtml = {
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">Metadata
                <button class="btn pull-right" data-toggle="modal" data-target="#editTrackMetadata">Edit</button>
            </span>
        </div>
        <div class="panel-body">
            <dl>
                <dt>Ascent</dt>
                <dd>@metadata.ascent.getOrElse("null")</dd>

                <dt>Avg Ascent Rate</dt>
                <dd>@metadata.avgAscentRate.getOrElse("null")</dd>

                <dt>Avg Descent Rate</dt>
                <dd>@metadata.avgDescentRate.getOrElse("null")</dd>

                <dt>Avg Heart Rate</dt>
                <dd>@metadata.avgHeartRate.getOrElse("null")</dd>

                <dt>Calories</dt>
                <dd>@metadata.calories.getOrElse("null")</dd>

                <dt>Descent</dt>
                <dd>@metadata.descent.getOrElse("null")</dd>

                <dt>Description</dt>
                <dd>@metadata.description.getOrElse("null")</dd>

                <dt>Distance</dt>
                <dd>@metadata.distance.getOrElse("null")</dd>

                <dt>Max Ascent Rate</dt>
                <dd>@metadata.maxAscentRate.getOrElse("null")</dd>

                <dt>Max Descent Rate</dt>
                <dd>@metadata.maxDescentRate.getOrElse("null")</dd>

                <dt>Max Elevation</dt>
                <dd>@metadata.maxElevation.getOrElse("null")</dd>

                <dt>Max Speed</dt>
                <dd>@metadata.maxSpeed.getOrElse("null")</dd>

                <dt>Min Elevation</dt>
                <dd>@metadata.minElevation.getOrElse("null")</dd>

                <dt>Moving Speed</dt>
                <dd>@metadata.movingSpeed.getOrElse("null")</dd>

                <dt>Moving Time</dt>
                <dd>@metadata.movingTime.getOrElse("null")</dd>

                <dt>Stopped Time</dt>
                <dd>@metadata.stoppedTime.getOrElse("null")</dd>

                <dt>Timer Time</dt>
                <dd>@metadata.timerTime.getOrElse("null")</dd>

                <dt>Total Elapsed Time</dt>
                <dd>@metadata.totalElapsedTime.getOrElse("null")</dd>

                <dt>Track Id</dt>
                <dd>@metadata.trackId</dd>
            </dl>
        </div>
    </div>

    <div class="modal fade" id="editTrackMetadata" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Tour</h4>
                </div>
                <div class="modal-body">
                @helper.form(action = routes.AdminController.updateTrackMetadata(track.trackId.toString)) {
                    @helper.inputText(formTrackMetadata("description"))
                    @helper.inputText(formTrackMetadata("distance"))
                    @helper.inputText(formTrackMetadata("timerTime"))
                    @helper.inputText(formTrackMetadata("totalElapsedTime"))
                    @helper.inputText(formTrackMetadata("movingTime"))
                    @helper.inputText(formTrackMetadata("stoppedTime"))
                    @helper.inputText(formTrackMetadata("movingSpeed"))
                    @helper.inputText(formTrackMetadata("maxSpeed"))
                    @helper.inputText(formTrackMetadata("maxElevation"))
                    @helper.inputText(formTrackMetadata("minElevation"))
                    @helper.inputText(formTrackMetadata("ascent"))
                    @helper.inputText(formTrackMetadata("descent"))
                    @helper.inputText(formTrackMetadata("avgAscentRate"))
                    @helper.inputText(formTrackMetadata("maxAscentRate"))
                    @helper.inputText(formTrackMetadata("avgDescentRate"))
                    @helper.inputText(formTrackMetadata("maxDescentRate"))
                    @helper.inputText(formTrackMetadata("calories"))
                    @helper.inputText(formTrackMetadata("avgHeartRate"))
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-default" type="submit">Submit</button>
                </div>
                }
            </div>
        </div>
    </div>
}

@trackPointHtml = {
    <div class="modal fade" id="addTrackPoint" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Tour</h4>
                </div>
                <div class="modal-body">
                @helper.form(action = routes.AdminController.addTrackPoint(track.trackId.toString)) {
                    @helper.inputText(formTrackPoint("latitude"))
                    @helper.inputText(formTrackPoint("longitude"))
                    @helper.inputText(formTrackPoint("elevation"))
                    @helper.inputText(formTrackPoint("datetime"))
                    @helper.inputText(formTrackPoint("dateTimeZone"))
                    @helper.checkbox(formTrackPoint("showInOverView"))
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-default" type="submit">Submit</button>
                </div>
                }
            </div>
        </div>
    </div>
    <button class="btn pull-right" data-toggle="modal" data-target="#addTrackPoint">Add TrackPoint</button>
}

@admin.admin("Adminarea")  {

    @trackHtml

    @trackMetadataHtml

    @trackPointHtml

}