@(formTrack: Form[at.droelf.gui.entities.AdminTrack])(track: models.Track, metdata: models.TrackMetaData, numberOfTrackPoints: Int, date: Seq[org.joda.time.LocalDate])(implicit session: play.api.mvc.Session)
@import helper.twitterBootstrap._

@trackHtml = {
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">Track: @track.name</span>
            <button class="btn pull-right" data-toggle="modal" data-target="#editTrack">Edit</button>
            <form class="pull-right" action="@routes.AdminController.deleteTrack(track.trackId.toString)" method="POST">
                <button class="btn" type="submit">Delete</button>
            </form>
        </div>
        <div class="panel-body">
            <dl>
                <dt>Name</dt>
                <dd>@track.name</dd>
                <dt>TrackId</dt>
                <dd>@track.trackId</dd>
                <dt>Activity</dt>
                <dd>@track.activity</dd>
                <dt>No. of Track Points</dt>
                <dd>@numberOfTrackPoints</dd>
                <dt>Dates</dt>
                <dd>@date.toString</dd>
            </dl>

        </div>
    </div>

    <div class="modal fade" id="editTrack" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Tour</h4>
                </div>
                <div class="modal-body">
                @helper.form(action = routes.AdminController.updateTrack(track.trackId.toString)) {
                    @helper.inputText(formTrack("name"))
                    @helper.inputText(formTrack("activity"))
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-default" type="submit">Submit</button>
                </div>
                }
            </div>
        </div>
    </div>



}

@trackMetadataHtml = {
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Metdata</h3>
        </div>
        <div class="panel-body">
            <dl>
                <dt>Ascent</dt>
                <dd>@metdata.ascent.getOrElse("null")</dd>

                <dt>Avg Ascent Rate</dt>
                <dd>@metdata.avgAscentRate.getOrElse("null")</dd>

                <dt>Avg Cadence</dt>
                <dd>@metdata.avgCadence.getOrElse("null")</dd>

                <dt>Avg Descent Rate</dt>
                <dd>@metdata.avgDescentRate.getOrElse("null")</dd>

                <dt>Avg Heart Rate</dt>
                <dd>@metdata.avgHeartRate.getOrElse("null")</dd>

                <dt>Calories</dt>
                <dd>@metdata.calories.getOrElse("null")</dd>

                <dt>Descent</dt>
                <dd>@metdata.descent.getOrElse("null")</dd>

                <dt>Description</dt>
                <dd>@metdata.description.getOrElse("null")</dd>

                <dt>Display Color</dt>
                <dd>@metdata.displayColor.getOrElse("null")</dd>

                <dt>Distance</dt>
                <dd>@metdata.distance.getOrElse("null")</dd>

                <dt>Max Ascent Rate</dt>
                <dd>@metdata.maxAscentRate.getOrElse("null")</dd>

                <dt>Max Descent Rate</dt>
                <dd>@metdata.maxDescentRate.getOrElse("null")</dd>

                <dt>Max Elevation</dt>
                <dd>@metdata.maxElevation.getOrElse("null")</dd>

                <dt>Max Speed</dt>
                <dd>@metdata.maxSpeed.getOrElse("null")</dd>

                <dt>Min Elevation</dt>
                <dd>@metdata.minElevation.getOrElse("null")</dd>

                <dt>Moving Speed</dt>
                <dd>@metdata.movingSpeed.getOrElse("null")</dd>

                <dt>Moving Time</dt>
                <dd>@metdata.movingTime.getOrElse("null")</dd>

                <dt>Stopped Time</dt>
                <dd>@metdata.stoppedTime.getOrElse("null")</dd>

                <dt>Timer Time</dt>
                <dd>@metdata.timerTime.getOrElse("null")</dd>

                <dt>Total Elapsed Time</dt>
                <dd>@metdata.totalElapsedTime.getOrElse("null")</dd>

                <dt>Track Id</dt>
                <dd>@metdata.trackId</dd>
            </dl>
        </div>
    </div>
}

@admin.admin("Adminarea")  {

    @trackHtml

    @trackMetadataHtml

}