@(title: String)(content: Html)(implicit session: play.api.mvc.Session)

@assets = {

}

@navbar = {
    <li><a href="@routes.AuthController.logout">Logout</a></li>
}

@main(title, assets,navbar){
    @*<div>*@
        @*http://localhost:9000/api/demoData<br />*@
        @*wget http://v1.makubi.at/~makubi/requestBody150001711469858415asRaw -O /tmp/tmp.gpx && curl -X PUT http://localhost:9000/api/putTrack/2/fooBar -d @@/tmp/tmp.gpx<br>*@
        @*curl -X PUT  http://localhost:9000/api/images/uploadImage/2014-05-23T07:00:00+0200/testFoto2 --data-binary @@foto.png*@
    @*</div>*@
    <br />
    <div class="container">
        @content
    </div>
}