@(formTrip: Form[models.Trip], formDayTour: Form[at.droelf.gui.entities.AdminDayTour])(title: String, trips: Seq[models.Trip], tracks: Seq[models.Track], dayTours: Map[String, Seq[models.DayTour]])(implicit session: play.api.mvc.Session)
@import helper.twitterBootstrap._

@tripsHtml = {
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">
                Trips
                <button class="btn pull-right" data-toggle="modal" data-target="#myModal">Add Trip</button>
            </span>

        </div>
        <div class="panel-body">


            <table class="table table-hover">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Short Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
                @for(trip <- trips){
                    <tr class="clickableRow" href="/admin/trip/@trip.shortName">
                        <td nowrap>@trip.title</td>
                        <td>
                        @if(trip.description.length > 100) {
                            @trip.description.substring(0, 99) ...
                        }else{
                            @trip.description
                        }
                        </td>
                        <td>@trip.shortName</td>
                        <td style="min-width: 100px">@trip.startDate.toString</td>
                        <td style="min-width: 100px">@trip.endDate.toString</td>
                    </tr>
                }
            </table>

        </div>
    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Tour</h4>
                </div>
                <div class="modal-body">
                @helper.form(action = routes.AdminController.addTrip) {
                    @helper.inputText(formDayTour("title"))
                    @helper.inputText(formDayTour("description"))
                    @helper.inputText(formDayTour("shortName"))
                    @helper.inputDate(formDayTour("startDate"))
                    @helper.inputDate(formDayTour("endDate"))
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-default" type="submit">Submit</button>
                </div>
                }
            </div>
        </div>
    </div>
}

@tracksHtml = {

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">
                Tracks
            </span>

        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <th>Name</th>
                    <th>Id</th>
                    <th>Activity</th>
                </tr>
                @for(track <- tracks){
                    <tr class="clickableRow" href="/admin/track/@track.trackId">
                        <td nowrap>@track.name</td>
                        <td>@track.trackId</td>
                        <td>@track.activity</td>
                    </tr>
                }
            </table>

        </div>
    </div>

}

@dayToursHtml = {
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">
                DayTours
                <button class="btn pull-right" data-toggle="modal" data-target="#addDayTour">Add DayTour</button>
            </span>

        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <th>Trip Name</th>
                    <th>Date</th>
                    <th>Fallback Start Point</th>
                    <th>Fallback End Point</th>
                    <th>Description</th>
                    <th>Weather Cond</th>
                    <th>Road Cond</th>
                </tr>

                @for((tripName, listOfDayTours) <- dayTours) {
                    @for(dayTour <- listOfDayTours){
                        <tr class="clickableRow" href="@routes.AdminController.dayTourDetails(dayTour.dayTourId.toString)">
                            <td nowrap>@tripName</td>
                            <td nowrap>@dayTour.date.toString</td>
                            <td>@dayTour.startPointLat/@dayTour.startPointLon</td>
                            <td>@dayTour.endPointLat/@dayTour.endPointLon</td>
                            <td>
                            @if(dayTour.description.length > 20) {
                                @dayTour.description.substring(0, 19) ...
                            }else{
                                @dayTour.description
                            }
                            </td>
                            <td>@dayTour.weatherCond</td>
                            <td>@dayTour.roadCond</td>
                        </tr>
                    }
                }

            </table>

        </div>
    </div>



    <div class="modal fade" id="addDayTour" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Tour</h4>
                </div>
                <div class="modal-body">
                @helper.form(action = routes.AdminController.addDayTour) {
                    @helper.inputDate(formDayTour("date"))
                    @helper.inputText(formDayTour("startPointLat"))
                    @helper.inputText(formDayTour("startPointLon"))
                    @helper.inputText(formDayTour("endPointLat"))
                    @helper.inputText(formDayTour("endPointLon"))
                    @helper.inputText(formDayTour("description"))
                    @helper.inputText(formDayTour("weatherCond"))
                    @helper.inputText(formDayTour("roadCond"))
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-default" type="submit">Submit</button>
                </div>
                }
            </div>
        </div>
    </div>

}

@imagesHtml = {

}


@admin("Adminarea")  {

    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".clickableRow").click(function() {
                window.document.location = $(this).attr("href");
            });
        });
    </script>


    <p>Hallo @session.get("username")!</p>
    <br />

    @tripsHtml

    @dayToursHtml

    @tracksHtml

    <form action="@routes.AdminController.insertDemoData" method="POST">
        <button type="submit" class="btn">Insert Demo Data</button>
    </form>

}