@(message: String, trips: Seq[(String, String)], guiTrip: at.droelf.gui.entities.GuiTrip, dayTours: Map[(String,org.joda.time.LocalDate), Seq[(at.droelf.gui.entities.GuiDayTour, Int)]],formContact: Form[at.droelf.gui.entities.Email])(implicit session: play.api.mvc.Session)

    @metadata = {
        <div class="row tourimg" />
    }

    @assets = {
        <script src="@routes.Assets.at("js/color.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/datastore.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/metadata.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/map.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/chart.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/images.js")" type="text/javascript"></script>


        <script type="text/javascript">
            $(document).ready(function ($) {
            var spinner = $(".jsspinner")
            loadTripSummary( '@guiTrip.shortName', Array(initColorsForSummary,initMetadataForSummary,initMapForSummary,initFlotForSummary,initImagesForOverview), spinner)
            })
        </script>
    }

@tourtemplate(message, trips, formContact)(sidebar(guiTrip.shortName,java.util.UUID.fromString("804007f0-168c-11e4-8c21-0800200c9a66"),dayTours))(metadata)(assets) {
    <h1 class="page-header">@guiTrip.title</h1>
    <span>@Html(guiTrip.description)</span>

    <br />
    <br />

    @map()
}


