@(message: String, nav: Seq[(String,String)], guiTrip: at.droelf.gui.entities.GuiTrip, dayTour: at.droelf.gui.entities.GuiDayTour)

@metadata = {
    <div id="images"  class="row" />
}

@assets = {

    <script src="@routes.Assets.at("js/color.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/map.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/chart.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/metadata.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/datastore.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/images.js")" type="text/javascript"></script>



    <script type="text/javascript">
        loadTracks ( '@dayTour.date', Array(initColors,initMap,initImages,initFlot, initMetadata))
    </script>
}

@tourtemplate(message, nav)(sidebar(guiTrip, dayTour.dayTourId))(metadata)(assets) {

    <h1 class="page-header">@guiTrip.title - @dayTour.date</h1>

    <div>
        @Html(dayTour.description)
    </div>

    <br />

    @map()


}


