@(formContact: Form[at.droelf.gui.entities.Email],trips: Seq[(String, String)])(implicit session: play.api.mvc.Session)


    @assetImports = {

    }


@main("Adminarea", assetImports, navbar(trips)) {

    @helper.form(action = routes.ContactController.sendMessage) {
        @helper.inputText(formContact("from"))
        @helper.textarea(formContact("text"),args = 'rows -> 10, 'cols -> 70)

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button class="btn btn-default" type="submit">Submit</button>
        </div>
    }

}