@(title: String,trips: Seq[(String, String)])(sidebar: Html)(metadata: Html)(content: Html)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        @*<meta name="viewport" content="width=device-width, initial-scale=1">*@
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" media="screen" href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))' type="text/javascript"></script>

    </head>


    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Travel Log</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trips<b class="caret"></b></a>

                            <ul class="dropdown-menu">

                                @for((id, name) <- trips){
                                    <li><a href="/@id">@name</a></li>
                                }

                            </ul>

                        </li>

                        <li><a href="/admin">Admin</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="navbar navbar-inverse navbar-fixed-top toggleDaysMobile">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Days</a>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-10 sidebar collapse">
                    @sidebar
                </div>


                <div class="row-fluid">
                    <div class="col-lg-7 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2 col-xs-12 main">

                        @content

                        <div class="col-lg-3 col-lg-offset-9 col-md-10 col-md-offset-2 col-sm-12 col-xs-12 sidebar-right">
                            @metadata
                        </div>

                    </div>
                </div>

            </div>


        </div>
    </body>

</html>
