@(guiTrip: at.droelf.gui.entities.GuiTrip, recentId: java.util.UUID)

    <ul class="nav nav-sidebar" >
        <li><a href="/@guiTrip.shortName/overview"><h5>Overview</h5></a></li>
        @for((dT, index) <- guiTrip.guiDayTours.zipWithIndex) {

            @if(dT.dayTourId == recentId) {
                <li class="active">
                } else {
                <li>
                }
            <a href="/@guiTrip.shortName/@dT.dayTourId">
                <h4>
                        Day @(index + 1) <br />
                    <small>(@dT.date.toString("dd. MMMM YYYY"))</small>
                    </h4>
            </a></li>

        }
    </ul>
